<div class="machine-view-wrapper">
    <div class="machine-view-content">
        <div id="reel-left"></div>
        <div id="reel-middle"></div>
        <div id="reel-right"></div>
        <div class="pull-arm"></div>
        <label class="pay-line pay-line-tag">Pay Line ></label>
        <div class="pay-line-inducator pay-line"></div>
    </div>
</div>
<div class="button-panel-wrapper">
    <ul>
        <li>Bet 1 Credit</li>
        <li>Bet 2 Credit</li>
        <li>Bet 5 Credit</li>
        <li>Bet 100 Credit</li>
        <li>Bet 200 Credit</li>
        <li>Bet 500 Credits</li>
        <li class="spin-button">Spin</li>
    </ul>
</div>
